@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Drop.Web</title>
</head>
<body>
    <p style="visibility:hidden">Donor view</p>
    <div class="jumbotron text-center" style="background-color:white;margin-bottom:0">
        <h1 class="display-1"><strong>DRoP</strong></h1>
        <p>Don't wait! Check you eligibility and schedule your donation today!</p>
    </div>
    <div style="text-align:center">
        <input style="margin:3px;height:60px;width:250px;border-radius:18px;font-size:18px;background-color:white" type="button" 
               value="Schedule an Appointment" 
               onclick="location.href='@Url.Action("ScheduleAppointment", "DonorViews")'" />
        <input style="margin: 3px;height:60px; width: 250px; border-radius: 18px; font-size: 18px; background-color: white" type="button" 
               value="Check for Eligibility" 
               onclick="location.href='@Url.Action("Questions", "DonorViews")'" />
    </div>

    @*<div class="card text-center">
        <p>something</p>
    </div>*@
</body>