@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Thank you!";
}
<!DOCTYPE html>
<html>
    <body>
        <div class="jumbotron text-center" style="background:white">
            <h1 class="display-3">Thank You for scheduling your appointment!</h1>
            <hr>
            <p class="lead">If you want to make changes to your appointment, please give us a call at <strong>123-123-1233</strong> </p>
        </div>
    </body>
</html>