@model IEnumerable<Drop.Web.models.DonorQuestion>

@{
    ViewData["Title"] = "Screening Questions";
}

<h1>Screening Questions</h1>

<table class="table">
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
        </tr>
}
    </tbody>
</table>
