<!DOCTYPE html>
<html>
<head>
    <title>Index2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>
    <div class="jumbotron text-center" style="background-color:white">
        <h1 class="display-1" style="color:darkred"><strong>DRoP</strong></h1>
        <p style="font-size:20px">Don't wait. Check your eligibility and schedule your donation today!</p>
    </div>
    <div style="text-align:center">
        <input style="height:60px;width:250px;border-radius:18px;font-size:18px;background-color:white" type="button" value="Schedule an Appointment" onclick="location.href='@Url.Action("ScheduleAppointment", "DonorViews")'" />
        <input style="height:60px;width:250px;border-radius:18px;font-size:18px;background-color:white" type="button" value="Check for Eligibility" onclick="location.href='@Url.Action("Questions", "DonorViews")'" />
    </div>
</body>
</html>
