@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Drop.Web</title>
</head>

<p>Admin View | <a asp-controller="donorviews" asp-action="index">Donor View Link</a> </p>


<body>
    <div class="jumbotron text-center" style="background-color:white">
        <h1 class="display-1"><strong>DRoP</strong></h1>
        <p>Don't wait! Check you eligibility and schedule your donation today!</p>
    </div>
</body>
