<!DOCTYPE html>
<html>
<head>
    <title>Index2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body style="min-width:100%">
    <div class="jumbotron" style="background-color:white">
        <h1 class="text-center" style="font-size: 15vw;background: rgb(255 255 255);color: rgb(135,14,14);transform: perspective(0px);">DRoP</h1>
        <p style="padding-right: 10%;padding-left: 10%;color: rgb(135,14,14);text-align: center;font-size: 2vw;"><strong>Don't wait. Check your eligibility and schedule your donation today!</strong></p>
    </div>
</body>
</html>
